Import data using FRED API

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Set the default style and display options
plt.style.use('fivethirtyeight')
pd.set_option('display.max_columns', 500)
palette = plt.rcParams['axes.prop_cycle'].by_key()['color']

Combine datasets using pd.concat()

In [4]:
import pandas as pd

# Load datasets
corruption = pd.read_csv('datasets/corruption.csv')
cost_of_living = pd.read_csv('datasets/cost_of_living.csv')
richest_countries = pd.read_csv('datasets/richest_countries.csv')
tourism = pd.read_csv('datasets/tourism.csv')
unemployment = pd.read_csv('datasets/unemployment.csv')

# Combine all datasets into one
df = pd.concat([corruption, cost_of_living, richest_countries, tourism, unemployment], ignore_index=True)

# Display first few rows
df.head(40)

,country,annual_income,corruption_index,cost_index,monthly_income,purchasing_power_index,gdp_per_capita,tourists_in_millions,receipts_in_billions,receipts_per_tourist,percentage_of_gdp,unemployment_rate
0,Denmark,68110.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Finland,53660.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,New Zealand,45340.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,84090.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Singapore,64010.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Sweden,58890.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Switzerland,90360.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Netherlands,56370.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Luxembourg,81110.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Germany,51040.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,United Kingdom,45380.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Hong Kong,54450.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Austria,52210.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Canada,48310.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Estonia,25970.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Iceland,64410.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Ireland,74520.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Australia,56760.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Belgium,50510.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Japan,42620.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,France,43880.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,United Arab Emirates,39410.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,United States,70430.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Qatar,57120.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Portugal,23730.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,South Korea,34980.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Spain,29740.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Israel,49560.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Italy,35710.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Poland,16670.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Saudi Arabia,22270.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Greece,20140.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Malaysia,10930.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,China,11890.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Romania,14170.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,South Africa,6440.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,India,2170.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Vietnam,3560.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Argentina,10050.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Brazil,7720.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Display the number of rows and columns and other summary statistics
print(f'The dataset has {df.shape[0]} rows and {df.shape[1]} columns.')
print(df.info())

The dataset has 372 rows and 12 columns.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 372 non-null    object
 1   annual_income           110 non-null    float64
 2   corruption_index        110 non-null    float64
 3   cost_index              107 non-null    float64
 4   monthly_income          107 non-null    float64
 5   purchasing_power_index  107 non-null    float64
 6   gdp_per_capita          50 non-null     float64
 7   tourists_in_millions    41 non-null     float64
 8   receipts_in_billions    41 non-null     float64
 9   receipts_per_tourist    41 non-null     float64
 10  percentage_of_gdp       41 non-null     float64
 11  unemployment_rate       64 non-null     float64
dtypes: float64(11), object(1)
memory usage: 35.0+ KB
None

In [6]:
# Check for NaN values in the dataframe
df.isna().sum()

country                     0
annual_income             262
corruption_index          262
cost_index                265
monthly_income            265
purchasing_power_index    265
gdp_per_capita            322
tourists_in_millions      331
receipts_in_billions      331
receipts_per_tourist      331
percentage_of_gdp         331
unemployment_rate         308
dtype: int64