Import data using FRED API

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Set the default style and display options
plt.style.use('fivethirtyeight')
pd.set_option('display.max_columns', 500)
palette = plt.rcParams['axes.prop_cycle'].by_key()['color']

Combine datasets using pd.concat()

In [9]:
import pandas as pd

# Load datasets
corruption = pd.read_csv('corruption.csv')
cost_of_living = pd.read_csv('cost_of_living.csv')
richest_countries = pd.read_csv('richest_countries.csv')
tourism = pd.read_csv('tourism.csv')
unemployment = pd.read_csv('unemployment.csv')

# Combine all datasets into one
df = pd.concat([corruption, cost_of_living, richest_countries, tourism, unemployment], ignore_index=True)

# Display first few rows
df.head()

,country,annual_income,corruption_index,cost_index,monthly_income,purchasing_power_index,gdp_per_capita,tourists_in_millions,receipts_in_billions,receipts_per_tourist,percentage_of_gdp,unemployment_rate
0,Denmark,68110.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Finland,53660.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,New Zealand,45340.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,84090.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Singapore,64010.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN